.DS_Store
__pycache__/
.env*

# Python
*.pyc
.venv/
venv/
dist/
*.egg-info/

# ignore uv cache directory
.uv/

# Ignore sensitive files and logs
.stockgpt_google_cloud_service_account.json
logs/

# all '.' files
.*

# all log
*.log